<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
</head>
<body>
    <h2>Edit Task</h2>
    <p>Task id: <%= task.id %> </p>
    <form  method="post" action="/tasks/<%= task.id %>?_method=PATCH">
        <textarea rows="10" cols="35" name="task"><%= task.task %></textarea><br>
        <button>Submit</button>
    </form>
</body>     
</html>