<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
</head>
<body>
    <form method="post" action="/tasks">
        <textarea placeholder="Write your task" name="task"></textarea><br>
        <button>Submit</button>
    </form>
    
</body>
</html>